- let replyYourself = user.link == reply.link || !hasReply
| Игрок 
a(href=user.link) #{user.name}
|  #{text} #{!replyYourself ? 'игрока ' : ''}
a(href=reply.link) #{replyYourself ? 'себя' : reply.name}
if other && other.length
    |  со словами: "#{other}"
| !