include utils/mixins.pug

- const medals = ['🥇', '🥈', '🥉']
- const firstPlace = 1
- let number = page * perPage
- const fullTitle = rawTitle || `Топ самых ${property} игроков`

mixin line(user, value)
    - 
        const index = ++number
        const listNumber = index <= medals.length && hasWinner ?
            medals[index - 1] : 
            `${index}`.padStart(3, '0')
    | #{listNumber}. 
    +link(user)
    | - 
    i #{value} 
    if index == firstPlace
        | (#{Math.floor(100 * value / rawTotalCount) / 100}%)
    |
    |

code (#{page + 1} / #{length})
b  #{emoji} #{fullTitle}:
|
|
|
each obj in sorted
    - let user = obj.user
    - let value = obj.value

    +line(user, value)
|
|
if isNumbers && rawTotalCount != 0
    b 🎖 Суммарно#{totalName ? ` ${totalName}` : ''}: 
    code #{totalCount}