include utils/mixins.pug

- let number = page * perPage
- const fullTitle = rawTitle || `Топ самых ${property} игроков`

mixin line(user, value)
    - number++
    | #{user.isLeft ? '✖️' : ` ${number}`}. 
    +link(user)
    | - 
    i #{value}
    |
    |

code (#{page + 1} / #{length})
b  #{emoji} #{fullTitle}:
|
|
|
each obj in sorted
    - let user = obj.user
    - let value = obj.value
    - let isLeft = user.isLeft

    if isLeft
        s
            +line(
                {
                    name: user.name, 
                    link: 'https://t.me/buckwheat_channel',
                    isLeft: true
                }, 
                value
            )
    else
        +line(user, value)
    |