include utils/rp

b 
    i [#{page + 1} / #{length}]
    | 📌 Список пользовательских рп-команд:
|
|
|
each command in commands
    - let [name, text, rpCase] = command
    b 📍 баквит #{name} 
    | - "Игрок #{text} #{setPlayerCase(rpCase)}"
    |