include utils/rp

b 
    i [#{page + 1} / #{length}]
    | 📌 Список пользовательских рп-команд:
|
|
|
each command in commands
    - let [name, text, rpCase] = command
    | 📍 
    code баквит #{name}
    |  - "Игрок #{text} #{setPlayerCase(rpCase)}"
    |