mixin info
    blockquote 📍 
        block
    |

- let replySymbol = '💬'
- let premiumSymbol = '👑'

b 📌 По правилам я могу отвечать только на эти команды типа 
    u #{title}
| :
|
|
each command in commands
    | 👉 
    code баквит #{command.name}#{command.needData ? ` [${command.argumentText || 'аргументы'}]` : ''}
    |  #{command.replySupport ? replySymbol : ''} #{command.isPremium ? premiumSymbol : ''}
    |
    - let lines = command.description.split('\n')
    - let aliasesText = command.aliases.join(', ')
        |     ➖ ранг: 
        b #{command.rank.value}+ (#{command.rank.emoji})
        |
        |
    if aliasesText.length
        |     ➖ также доступны как: 
        b #{aliasesText}
        |
        |
    each description in lines
        |     ➖ #{description}
        |
    |
    |
+info
    | Примеры времени, используемого в командах: 
    b 7д, 24ч, 60м, 30с, навсегда
+info
    | Символ #{replySymbol} означает, что команда работает с ответами на сообщения
+info
    | Символ #{premiumSymbol} означает, что это премиум-команда