- let noCubesPhrases = ['кубики суровы', 'какая жалость', 'грустно', 'где деньги, игрокски?']
- let index = Math.floor(Math.random() * noCubesPhrases.length)

b 📌 Твой баланс:
|
|
| Кол-во монет: 
b #{money}
if isNegativeMoney
    |
    |
    tg-spoiler 
        b (#{noCubesPhrases[index]})
    |
|
| Кол-во предметов: 
b #{itemsLength.total}
|
| Кол-во видов предметов: 
b #{itemsLength.unique}
|
|
|
b 📌 Игры в казино: 
|
|
| Кол-во побед: 
b #{casino.wins}
|
| Кол-во проигрышей: 
b #{casino.loses}
|
| Процент побед: 
b #{casino.winrate}%
|
|
|
b 📌 Игры в кубы: 
|
|
| Кол-во побед: 
b #{cube.wins}
|
| Кол-во проигрышей: 
b #{cube.loses}
|
| Процент побед: 
b #{cube.winrate}%
|
|
|