- let noCubesPhrases = ['кубики суровы', 'какая жалость', 'грустно', 'где деньги, игрокски?']
- let index = Math.floor(Math.random() * noCubesPhrases.length)

mixin game(title, obj)
    b 📌 #{title}: 
    |
    |
    | Кол-во побед: 
    b #{obj.wins}
    |
    | Кол-во проигрышей: 
    b #{obj.loses}
    |
    | Процент побед: 
    b #{obj.winrate}%
    |
    |
    |

b 📌 Твой баланс:
|
|
| Кол-во монет: 
b #{money}
if isNegativeMoney
    |
    |
    tg-spoiler 
        b (#{noCubesPhrases[index]})
    |
|
| Кол-во предметов: 
b #{itemsLength.total}
|
| Кол-во видов предметов: 
b #{itemsLength.unique}
|
|
|
+game('Игры в казино', casino)
+game('Игры в кубы', cube)
+game('Дуэли', duels)