- let noCubesPhrases = ['кубики суровы', 'какая жалость', 'грустно', 'где деньги, игрокский?']
- let index = Math.floor(Math.random() * noCubesPhrases.length)

b 📌 Твой баланс:
|
|
| Кол-во монет: 
b #{money}
|
| Кол-во предметов: 
b #{itemsLength}
|
| Кол-во видов предметов: 
b #{uniqueItemsLength}
|
|
|
b 📌 Игры в казино: 
|
|
| Кол-во побед: 
b #{wins}
|
| Кол-во проигрышей: 
b #{loses}
|
| Процент побед: 
b #{winrate}%
|
|
|
if money < 0
    tg-spoiler 
        b (#{noCubesPhrases[index]})