include utils/mixins.pug

mixin status(condition)
    if condition
        |
        |
        b
            block

mixin withTitle(title)
    |
    | #{title}: 
    b
        block

| #{summonEmoji || '💫'} 
b #{description}
|
|
| 👾 Это - игрок 
+link({name, link}, false)
| . 

+withTitle(`${emoji} Ранг`)
    | #{userNameRank} / #{status} (#{rank})

if isLinked || isLeft
    |
    |

+status(isLinked)
    | 💬 Привязан к данному чату
+status(isLeft)
    | 😵 Вышел из чата  
|
|

+withTitle(`${classEmoji} Класс`)
    | #{className}
+withTitle('📈 Уровень')
    | #{level}/#{maxLevel} (#{Math.floor(experiencePrecents * 100)}%)
|
+withTitle('✉️ Кол-во сообщений')
    | #{messages}
+withTitle('⏰ Появление в чате')
    | #{spawnDate} назад
+withTitle('💍 Семейное положение')
    if family
        | в браке с 
        +link(family.partner)
        | (#{family.date})
    else
        | холост