- const premiumEmoji = '👑'
- const infinityEmoji = '♾️'

- const yesEmoji = '✅'
- const noEmoji = '❌'

mixin conditionText(condition, emoji, text)
    if condition
        |
        i #{emoji} #{text}
        | 
        |

mixin param(title, value)
    |
    |
    i #{title}: 
    | #{value}

| [#{index + 1}/#{length}] #{emoji}
code #{name} 

blockquote #{description}
|
|
+conditionText(isPremium, premiumEmoji, `Премиум-товар`)
|
+param('Осталось', `${isRestInfinity ? infinityEmoji : rest}`)
+param('Общий склад', `${isChatMode ? yesEmoji : noEmoji}`)
|
|
+param('Цена', `${price} * ${count} = ${totalPrice} 💰`)