include utils/functions.pug

| ✅ Побочный квест 
b
    u #{quest}
|  выполнен!
|
| Игрок 
a(href=link)=name 
|  заработал #{formatNumber(money)} монет и получил #{formatNumber(experience)} опыта!
|
if material
    | ❕ Во время выполнения квеста вы нашли 
    u #{material}
    | !