include ./mixins.pug
include ./functions.pug

mixin subproperty(title, value)
    |       ➖ #{title}: 
    code #{value}
    |
    |

mixin property(title, key, condition = item[key])
    |
    +parameter(title, bool(item[key]))
    if condition
        block 
        |
    |

mixin item(options)
    - const { item, chance = 0 } = options
    - 
        const typeName = item.type == 'consumable' ?
            'Одноразовый' :
            'Многоразовый'

    b 📦 #{item.name}
    |
    |
    blockquote #{item.description || '...'}
    |
    |
    +property('Находится', 'material', chance > 0)
        +subproperty('Шанс', `${formatNumber(chance)}%`)
    +property('Оружие', 'gun')
        - const [min, max] = item.gun.damage
        +subproperty('Урон', `${formatNumber(min)} - ${formatNumber(max)}`)
        +subproperty('Патроны', ammo ? ammo.name : item.gun.id)
    +property('Щит', 'shield')
        +subproperty('Шанс срабатывания', `${formatNumber(item.shield.triggeringChance * 100)}%`)
    |
    |
    +parameter('Тип', typeName)
    +parameter('Рыночная цена', `${formatNumber(item.basePrice)}💰`)