include ./mixins.pug
include ./functions.pug

mixin item(options)
    - const { item, chance = 0 } = options
    - 
        const typeName = item.type == 'consumable' ?
            'Одноразовый' :
            'Многоразовый'

    b 📦 #{item.name}
    |
    |
    blockquote #{item.description || '...'}
    |
    |
    |
    +parameter('Находится', bool(item.material))
    if chance > 0
        +parameter('Шанс', `${formatNumber(chance)}%`)
        |
        |
    |
    +parameter('Оружие', bool(item.gun))
    if item.gun
        - const [min, max] = item.gun.damage
        +parameter('Урон', `${formatNumber(min)} - ${formatNumber(max)}`)
        +parameter('Патроны', ammo ? ammo.name : item.gun.id)
        |
        |
    |
    +parameter('Тип', typeName)