mixin link(user, hasSpace = true)
    a(href=user.link) #{user.name}#{hasSpace ? ' ' : ''}

mixin param(title, progress, spaces = 0)
    |
    |
    i #{title}: 
    code #{' '.repeat(spaces)}#{progress}
    |

mixin parameter(title, value)
    b 📍 #{title}: 
    | #{value}
    |

mixin faq(title)
    b 📌 #{title.toUpperCase()}
    //- |
    |
    |
    block

mixin pin(text)
    |
    | 📍 #{text}

mixin pins(arr)
    |
    each text in arr
        +pin(text)
    |

mixin random(arr)
    - const length = arr.length
    - const value = Math.floor(Math.random() * length)

    | #{arr[value]}

mixin command_description(command, description)
    |
    | ➖ 
    code баквит #{command} 
    |  - #{description}
    |

mixin tree(arr, symbols = ['📍', '✖️', '➖'], i = 0)
    - const padding = ' '.repeat(6 * i)
    - const index = Math.min(i, symbols.length - 1)
    - const symbol = symbols[index]

    each element in arr
        |
        | #{padding}#{symbol} #{element.text}
        +tree(element.elements || [], symbols, i + 1)